.bcImg {
    object-fit: cover;
    position: absolute;
    display: block;
    width: calc(240px + (600 - 240) * ((100vw - 320px)/ (1440 - 320)));
    overflow: hidden;
    height: auto;
    max-height: calc(240px + (600 - 240) * ((100vw - 320px)/ (1440 - 320)));
    border-radius: 50%;
    left: calc(-150px + (90 + -160) * ((100vw - 320px)/ (1440 - 320)));
    top: calc(40px + (100 - 40) * ((100vw - 320px)/ (1440 - 320)));
}
.top, .comment, .stepInfo, .commentName, .rate, .stars{
    display: flex;
}
.stars{
    flex-wrap: wrap;
    align-items: center;
}
.img{
    width: 25%;
    height: calc(240px + (600 - 240) * ((100vw - 320px)/ (1440 - 320)));
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0E1111;
    font-size: calc(18px + (37 - 18) * ((100vw - 320px)/ (1440 - 320)));
}
.description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12; /* number of lines to show */
    color: #0E1111;
    font-size: calc(11px + (22 - 11) * ((100vw - 320px)/ (1440 - 320)));
}
.back{
    font-size: calc(11px + (22 - 11) * ((100vw - 320px)/ (1440 - 320)));
}
.starSvg{
    margin-right: 5px;
    width: calc(10px + (19 - 10) * ((100vw - 320px)/ (1440 - 320)));
    height: calc(10px + (19 - 10) * ((100vw - 320px)/ (1440 - 320)));
}
.replySvg{
    width: calc(10px + (19 - 10) * ((100vw - 320px)/ (1440 - 320)));
    height: calc(10px + (19 - 10) * ((100vw - 320px)/ (1440 - 320)));
}
.topInfo{
    margin-left: 10px;
    width: 75%;
}
.starSvgOutline{
    margin-right: 5px;
    width: calc(13px + (22 - 13) * ((100vw - 320px)/ (1440 - 320)));
    height: calc(13px + (22 - 13) * ((100vw - 320px)/ (1440 - 320)));
}
.info{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-left: calc(0px + (310 - 0) * ((100vw - 320px)/ (1440 - 320)));
}

.info b {
    font-size: calc(14px + (22 - 14) * ((100vw - 320px)/ (1440 - 320)));
}
.descriptionStep{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8; /* number of lines to show */
    color: #0E1111;
    font-size: calc(13px + (18 - 13) * ((100vw - 320px)/ (1440 - 320)));
}
.boxName{
    margin-right: 5px;
}
.list{
    margin-left: -20px;
    font-size: calc(14px + (22 - 14) * ((100vw - 320px)/ (1440 - 320)));
}
.commentName{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #F8F8F8;
    justify-content: space-between;
    align-items: center;
    border-bottom : 1px solid #0E1111;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.note{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8; /* number of lines to show */
    width: 50%;
}
.note p {
    font-size: calc(14px + (22 - 14) * ((100vw - 320px)/ (1440 - 320)));
}
.steps{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.time {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 2ch;
    max-width: 22ch;
    color:#0E1111;
}
.author{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 2px solid #0E1111;
    max-width: calc(150px + (350 - 150) * ((100vw - 320px)/ (1440 - 320)));
}
.rate{
    align-items: center;
    font-size: calc(18px + (26 - 18) * ((100vw - 320px)/ (1440 - 320)));
    margin-top: 100px;
}
.rate b{
    margin-right: 10px;
}
.rowInfo{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    font-size: calc(12px + (18 - 12) * ((100vw - 320px)/ (1440 - 320)));
}
.commentForm{
    align-items: center;
    display: flex;
}
.comments{
    margin-top: 20px;
    margin-bottom: 10vh;
}
.comment{
    margin-top: 20px;
    align-items: center;
}
.reply{
    margin-left: calc(45px + (90 - 45) * ((100vw - 320px)/ (1440 - 320)));;
}
.commentBox{
    overflow-y: auto;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: calc(12px + (18 - 12) * ((100vw - 320px)/ (1440 - 320)));
    border: 1px solid #0E1111;
    padding: 0 5px 5px 5px;
    margin-left: calc(5px + (10 - 5) * ((100vw - 320px)/ (1440 - 320)));
    width: 50%;
}
.commentList{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.comment{
    margin-bottom: -10px;
}
.commentImg{
    object-fit: cover;
    border-radius: 50%;
    width: calc(35px + (80 - 35) * ((100vw - 320px)/ (1440 - 320)));
    height: calc(35px + (80 - 35) * ((100vw - 320px)/ (1440 - 320)));
}
.clockSvg{
    width: calc(14px + (18 - 14) * ((100vw - 320px)/ (1440 - 320)));
    margin-left: 2px;
}
.stepTitle{
    margin-right: calc(10px + (92 + 20) * ((100vw - 320px)/ (1440 - 320)));
    color: #0E1111;
    font-size: calc(18px + (37 - 18) * ((100vw - 320px)/ (1440 - 320)));
}
.stepName{
    font-size: calc(14px + (33 - 14) * ((100vw - 320px)/ (1440 - 320)));
}
.stepItem{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.commentForm textarea{
    outline: none;
    padding: 5px;
    font-size: calc(10px + (18 - 10) * ((100vw - 320px)/ (1440 - 320)));
    margin: 0 10px 0 10px;
    border-radius: 10px;
    resize: none;
    height: calc(30px + (60 - 30) * ((100vw - 320px)/ (1440 - 320)));
    width: 60%;
}
.commentForm button {
    font-size: calc(12px + (18 - 12) * ((100vw - 320px)/ (1440 - 320)));
    background-color: transparent;
    outline: none;
    border: 2px solid #ffc107;
    border-radius: 10px;
    height: calc(30px + (60 - 30) * ((100vw - 320px)/ (1440 - 320)));
    width: calc(50px + (90 - 50) * ((100vw - 320px)/ (1440 - 320)));
}
.commentForm button:hover {
    background-color: #ffc107;
    color: #F8F8F8;
}
.stepInfoMain{
    margin-left: 10px;
}
.stepItem img{
    object-fit: cover;
    max-height: calc(160px + (280 - 160) * ((100vw - 320px)/ (1440 - 320)));
    width: 100%;
    max-width: calc(300px + (500 - 300) * ((100vw - 320px)/ (1440 - 320)));
    height: auto;
}
@media (max-width: 600px){
    .note, .commentBox{
        width: 100%;
    }
}
@media (max-width: 1000px) {
    .stepInfo{
        flex-wrap: wrap;
    }
    .stepItem img{
        order: 3;
    }
    .stepInfoMain{
        width: 100%;
        margin-left: 0;
    }
}
@media (min-width: 1400px){
    .info{
        margin-top: calc(-180px + (0 + 10) * ((100vw - 320px)/ (1440 - 320)));
    }
}