.content{
    display: flex;
}
.info{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(12px + (20 - 12) * ((100vw - 320px)/ (1440 - 320)));
    text-align: center;
}

.avatar{
    margin-bottom: calc(-10px + (-1 - 10) * ((100vw - 320px)/ (1440 - 320)));
    width: calc(200px + (400 - 200) * ((100vw - 320px)/ (1440 - 320)));
    height: calc(200px + (400 - 200) * ((100vw - 320px)/ (1440 - 320)));
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    display:inline-block;
    vertical-align:middle;
    position: relative;
}
.best{
    width:50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.top{
    font-weight: lighter;
}
.info p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    text-align: center;
    width: 75%;
}
.nickName{
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-align: center;
}
.name{
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bestTitle{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: calc(14px + (25 - 14) * ((100vw - 320px)/ (1440 - 320)));;
}
.cupSvg{
    position: absolute;
    margin-left: 4px;
    width: calc(13px + (22 - 13) * ((100vw - 320px)/ (1440 - 320)));
    height: calc(13px + (22 - 13) * ((100vw - 320px)/ (1440 - 320)));;
}
.back{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: calc(14px + (25 - 14) * ((100vw - 320px)/ (1440 - 320)));
}
.box{
    margin-top: calc(3px + (5 - 3) * ((100vw - 320px)/ (1440 - 320)));
    height: 100%;
}
.starBox{
    display: flex;
    padding: 0 15px 0 15px;
    font-size: calc(10px + (20 - 10) * ((100vw - 320px)/ (1440 - 320)));
    overflow: hidden;
    height: calc(20px + (35 - 20) * ((100vw - 320px)/ (1440 - 320)));
    border-radius: 10px;
    background: rgb(248, 248, 248);
    box-shadow: 0 0 30px rgba(14, 17, 17, 0.2);
    -webkit-backdrop-filter: blur( 20px );
    z-index: 10;
    justify-content: center;
    align-items: center;

}
.starSvg{
    margin-right: 5px;
    width: calc(10px + (19 - 10) * ((100vw - 320px)/ (1440 - 320)));
    height: calc(10px + (19 - 10) * ((100vw - 320px)/ (1440 - 320)));
}
.clocheSvg{
    margin-left: 2px;
    width: calc(13px + (22 - 13) * ((100vw - 320px)/ (1440 - 320)));
    height: calc(13px + (22 - 13) * ((100vw - 320px)/ (1440 - 320)));
}

@media (max-width: 700px) {
    .content{
        flex-direction: column;
    }
    .best{
        width: 90vw;
    }
    .info{
        width: 100%;
    }
    .starBox{
        padding: 0 3px 0 3px;
    }
}