.form{
    display: flex;
    flex-direction: column;
}

.filters{
    background: rgba(248, 248, 248, 0.7);
    box-shadow: 0px 0px 30px rgba(14, 17, 17, 0.2);
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    padding: calc(5px + (10 - 5) * ((100vw - 320px)/ (1440 - 320)));
    width: calc(70px + (345 - 70) * ((100vw - 320px)/ (1440 - 320)));
    height:calc(250px + (625 - 250) * ((100vw - 320px)/ (1440 - 320))) ;
}
.search{
    position: relative;
    align-items: center;
    display: flex;
    padding-bottom: calc(5px + (10 - 5) * ((100vw - 320px)/ (1440 - 320)));
}
.search input{
    background-color: #F8F8F8;
    box-shadow: 0px 0px 30px rgba(14, 17, 17, 0.2);
    width: 100%;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: calc(8px + (20 - 8) * ((100vw - 320px)/ (1440 - 320)));
    padding: calc(5px + (10 - 5) * ((100vw - 320px)/ (1440 - 320)));
}

.but{
    background-color: transparent;
    border: none;
    outline: none;
}
.searchSvg{
    cursor: pointer;
    position: absolute;
    margin-left: auto;
    right: 0;
    margin-right: calc(5px + (10 - 5) * ((100vw - 320px)/ (1440 - 320))); ;
    width: calc(10px + (25 - 10) * ((100vw - 320px)/ (1440 - 320)));
    height: calc(10px + (25 - 10) * ((100vw - 320px)/ (1440 - 320)));;
}

.select{
    cursor: pointer;
    -webkit-appearance: none;
    background-color: #F8F8F8;
    font-weight: lighter;
    font-family: "Yanone Kaffeesatz", sans-serif;
    margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px)/ (1440 - 320)));;
    padding: calc(1px + (5 - 1) * ((100vw - 320px)/ (1440 - 320)));;
    font-size: calc(8px + (20 - 8) * ((100vw - 320px)/ (1440 - 320)));
    border: none;
    border-radius: 10px;
    outline: none;

}
.submit{
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(14, 17, 17, 0.2);
    border-radius: 10px;
    font-family: " Yanone Kaffeesatz", sans-serif;
    background-color: #F8F8F8;
    outline: none;
    border: none;
    font-size: calc(8px + (20 - 8) * ((100vw - 320px)/ (1440 - 320)));
}
.submit:hover{
    color:#F8F8F8;
    background-color: #FFC107;
}
.bcImg{
    position: absolute;
    width: calc(240px + (560 - 240) * ((100vw - 320px)/ (1440 - 320)));
    overflow: hidden;
    height: calc(240px + (560 - 240) * ((100vw - 320px)/ (1440 - 320)));
    border-radius: 50%;
    left: calc(-150px + (90 + -160) * ((100vw - 320px)/ (1440 - 320)));
    top: calc(65px + (140 - 65) * ((100vw - 320px)/ (1440 - 320)));
}

@media (max-width: 700px){
    .filters{
        width: 100%;
        height: calc(115px + (250 - 115) * ((100vw - 320px)/ (1440 - 320))) ;
    }
    .submit{
        transform: translateY(100%);
    }
}