.form{
    display: flex;
    flex-direction: column;
}
.filters{
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 110px;
    background: rgba(248, 248, 248, 0.7);
    box-shadow: 0px 0px 30px rgba(14, 17, 17, 0.2);
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    padding: calc(5px + (10 - 5) * ((100vw - 320px)/ (1440 - 320)));
    width: calc(70px + (345 - 70) * ((100vw - 320px)/ (1440 - 320)));
    height:calc(250px + (625 - 250) * ((100vw - 320px)/ (1440 - 320))) ;
}
.search{
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    padding-bottom: calc(5px + (10 - 5) * ((100vw - 320px)/ (1440 - 320)));
}
.search input{
    height: calc(25px + (45 - 25) * ((100vw - 320px)/ (1440 - 320)));
    background-color: #F8F8F8;
    box-shadow: 0px 0px 30px rgba(14, 17, 17, 0.2);
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    text-decoration: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: calc(8px + (20 - 8) * ((100vw - 320px)/ (1440 - 320)));
    padding: calc(5px + (10 - 5) * ((100vw - 320px)/ (1440 - 320)));
}

.but{
    background-color: transparent;
    border: none;
    outline: none;
}
.searchSvg{
    margin-top: 3px;
    cursor: pointer;
    width: calc(10px + (25 - 10) * ((100vw - 320px)/ (1440 - 320)));
    height: calc(10px + (25 - 10) * ((100vw - 320px)/ (1440 - 320)));;
}

.select{
    box-shadow: 0px 0px 30px rgba(14, 17, 17, 0.2);
    cursor: pointer;
    -webkit-appearance: none;
    background-color: #F8F8F8;
    font-weight: lighter;
    margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px)/ (1440 - 320)));;
    padding: calc(3px + (10 - 3) * ((100vw - 320px)/ (1440 - 320)));;
    font-size: calc(12px + (20 - 12) * ((100vw - 320px)/ (1440 - 320)));
    border: none;
    border-radius: 10px;
    outline: none;
}
.submit{
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(14, 17, 17, 0.2);
    border-radius: 10px;
    background-color: #F8F8F8;
    outline: none;
    border: none;
    font-size: calc(12px + (20 - 12) * ((100vw - 320px)/ (1440 - 320)));
    margin-top: calc(-18px + (20 + 18) * ((100vw - 320px)/ (1440 - 320)));
}
.submit:hover{
    color:#F8F8F8;
    background-color: #FFC107;
}
.bcImg{
    object-fit: cover;
    position: absolute;
    width: calc(240px + (560 - 240) * ((100vw - 320px)/ (1440 - 320)));
    overflow: hidden;
    height: calc(240px + (560 - 240) * ((100vw - 320px)/ (1440 - 320)));
    border-radius: 50%;
    left: calc(-150px + (90 + -160) * ((100vw - 320px)/ (1440 - 320)));
    top: calc(65px + (140 - 65) * ((100vw - 320px)/ (1440 - 320)));
}
.button{
    box-shadow: 0 0 30px rgba(14, 17, 17, 0.2);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: calc(25px + (45 - 25) * ((100vw - 320px)/ (1440 - 320)));
    background-color: #F8F8F8;
    border: none;
    outline: none;
}
@media (max-width: 700px){
    .filters{
        width: 100%;
        height: calc(115px + (250 - 115) * ((100vw - 320px)/ (1440 - 320))) ;
    }
    .submit{
        transform: translateY(100%);
    }
}