.link {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: lighter;
    color: #0E1111;
    padding-right: calc(10px + (19 - 10) * ((100vw - 320px)/ (1440 - 320)));
    font-size: calc(16px + (36 - 16) * ((100vw - 320px)/ (1440 - 320)));
    text-decoration: none;
}
.link.active{
    font-weight: normal;
}

.nav{
    padding-top: 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.plusSvg{
    color: #0E1111;
    width: calc(10px + (25 - 10) * ((100vw - 320px)/ (1440 - 320)));
    padding-right: calc(10px + (25 - 10) * ((100vw - 320px)/ (1440 - 320)));
}
.avatar{
    object-fit: cover;
    box-shadow: 0 0 58.3969px 17.5191px rgba(171, 171, 171, 0.3);
    border-radius: 50%;
    width: calc(35px + (80 - 35) * ((100vw - 320px)/ (1440 - 320)));
    height: calc(35px + (80 - 35) * ((100vw - 320px)/ (1440 - 320)));
}

.ava{
    margin-left: auto;
    display: flex;
    align-items: center;
}
