body {
  margin: 0;
  outline: none;
  background-color: #f8f8f8;
  font-family: -apple-system, BlinkMacSystemFont,
    'Roboto', 'Yanone Kaffeesatz',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.content{
  margin-top: 10px;
  padding-left: calc(20px + (92 - 20) * ((100vw - 320px)/ (1440 - 320)));
  padding-right: calc(15px + (40 - 15) * ((100vw - 320px)/ (1440 - 320)));
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type="text"],input[type="password"],input[type="email"],input[type="search"] {
  -webkit-appearance: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}